@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Small card hours of opp */
.hours-description p {
  font-family: var(--font-roboto);
  font-size: var(--font-size-body-S);
  font-weight: 400;
  line-height: 1.5;
  padding-left: 10px;
}

/* Large card hours of opp */
.hours-description-lc {
  font-family: var(--font-roboto);
  font-size: var(--font-size-body-M);
  font-weight: 400;
  line-height: 1.5;
  padding-left: 30px;
}